<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget password</title>
    <link rel="stylesheet" href="output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css"> -->
    <style>
        .fpassword:focus {
            border: 1px solid #1E90FF;
            outline: none;
        }

    </style>
</head>

<body class="bg-gray-100 h-screen w-screen">
    <main class="flex flex-row justify-center lg:pl-[6rem]">

        <!-- the left colomun: form section -->
        <div class="lg:w-[50%] h-screen">
            <img src="./assets/user authentication/insure-logo.png " alt="INsure logo" class=" ml-1 mt-3 mb-10 w-20">
            <!-- the heading section -->
            <div class="mx-2 mt-2">
                <h1 class="mb-4 pt-10 text-4xl">Forgot Password?</h1>
                <p class="mb-4">No worries, we'll send you reset instructions</p>
            </div>
            <!-- Input field -->
            <form class=" px-50" onsubmit="handleSubmit(event)">
                <div class="mb-4">
                    <input type="email" id="email" name="email" placeholder="Enter your company's email address"
                        class="fpassword border border-gray-500 rounded-md px-4 py-2 w-[20rem] lg:w-[28rem] mb-5">
                </div>
                <!-- Button -->
                <div class="mt-3">
                    <button type="submit"
                        class="w-[20rem] lg:w-[28rem] bg-orange-600 text-white font-bold py-2 px-4 rounded-md hover:bg-orange-400"><a
                            href="otp.html">Send me instructions</button></a>
                    <p class="font-normal px-7 mt-5 text-center w-[20rem] lg:w-[28rem]"><a
                            href="./login.html">Back to  <span class="text-orange-600 cursor-pointer hover:underline">
                                Login</span></a></p>
                </div>
            </form>
        </div>
        <!-- Right Column (image)  -->

        <div class="hidden lg:block lg:w-1/2 h-screen">
            <img src="./assets/user authentication/fpassword.png" alt="" class="w-full h-full">
            <!-- <img src="../template/images/pw_img.png" alt="" class=" w-full h-auto object-cover overflow-hidden bg-fixed bg-contain" width="400" height="300">
      -->
        </div>
    </main>
    <script type="module" src="/template/regSign.js"></script>
</body>

</html>